student_resource/dataset/
student_resource/output/
student_resource/code/business_entity_resolution/.venv/
student_resource/code/business_entity_resolution/model_dryrun/
__pycache__/
*.pyc
.DS_Store
*.mp4
student_resource/team_submission.zip
student_resource/output_0711_backup/
